{% extends 'base.html' %}
{% load i18n %}

{% block fulltitle %}{% trans "SayIt: Bringing transcripts into the Internet age" %}{% endblock %}
{% block body_class %}sayit-homepage{% endblock %}
{% block instanceheader %}{% endblock %}

{% block fullpage %}
<div class="full-page">
  <div>
    <div class="full-page__row">
      <div class="full-page__unit">
        <h1>{% trans 'Bringing transcripts into the Internet age' %}</h1>
        <p>{% trans 'SayIt is a whole new way to organise, publish, and share your transcripts - and it’s free' %}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="full-page__row">
      <div class="full-page__unit">
        <p>{% trans 'People all over the world are using SayIt…' %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
