{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if instance %}
    {% trans "Edit instance" %}
  {% elif request.user.is_authenticated %}
    {% trans "New instance" %}
  {% else %}
    {% trans "Sign up" %}
  {% endif %}
{% endblock %}

{% block instanceheader %}{% endblock %}

{% block content %}

<div class="form-page">
  {% if instance %}
    <h1>{% trans "Edit instance" %}</h1>
  {% elif request.user.is_authenticated %}
    <h1>{% trans "Start a new SayIt" %}</h1>
  {% else %}
    <h1>{% trans "Sign up" %}</h1>
    <div class="form-page__intro">
      <p>{% trans 'SayIt gives you your own site for publishing and sharing speeches and statements.' %}</p>
      <p>{% trans 'You could use it to publish transcripts of individual meetings, or rag-bag databases of everything said by a certain person or group of people (e.g. statements by political candidates). It&rsquo;s free and constantly improving.' %}</p>
    </div>
  {% endif %}

    <form id="instance-form" class="form-horizontal" method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="error non_field_errors">
            {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}

      {% if not instance %}
        <div {% if form.label.errors %}class="error"{% endif %}>
            <label for="{{ form.label.id_for_label }}">{{ form.label.label }}:</label>
            <div class="row collapse">
                <div class="small-2 columns">
                    <span class="prefix">http://</span>
                </div>
                <div class="small-6 columns">
                    <input type="text" name="label" id="{{ form.label.id_for_label }}" value="{{ form.label.value|default_if_none:"" }}" placeholder="{% trans 'roman-senate' %}">
                </div>
                <div class="small-4 columns">
                    <span class="postfix">.{{ settings.BASE_HOST }}</span>
                </div>
            </div>
          {% if form.label.errors %}
            <small class="error">{{ form.label.errors }}</small>
          {% endif %}
        </div>
      {% endif %}

        <div {% if form.title.errors %}class="error"{% endif %}>
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
            <input type="text" name="title" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default_if_none:"" }}" placeholder="{% trans 'Speeches by Ancient Roman Senators' %}">
          {% if form.title.errors %}
            <small class="error">{{ form.title.errors }}</small>
          {% endif %}
        </div>

        <div {% if form.description.errors %}class="error"{% endif %}>
            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}:</label>
            <textarea cols="40" rows="3" name="description" id="{{ form.description.id_for_label }}"
                placeholder="{% trans 'Selected speeches from roughly 700 BC to 400 AD' %}"
                >{{ form.description.value|default_if_none:"" }}</textarea>
          {% if form.description.errors %}
            <small class="error">{{ form.description.errors }}</small>
          {% endif %}
        </div>

        <div class="form-page__last">
          {% if instance %}
            {% trans "Update instance" as submit_button %}
          {% elif request.user.is_authenticated %}
            {% trans "Create New SayIt" as submit_button %}
          {% else %}
            {% trans "Sign up" as submit_button %}
          {% endif %}
            <button class="right button" type="submit" id="instance_submit">{{ submit_button }}</button>
        </div>
    </form>
</div>

{% endblock %}
