Django>=1.8,<1.9
django-allauth==0.25.2

PyYAML
django-pipeline>=1.6,<1.7
# Fork to cope with newer pipeline
mysociety-django-pipeline-compass-rubygem
python-memcached
django-tastypie

# Scrapers
beautifulsoup4
requests_cache
django-apptemplates==1.0

-e git+https://github.com/mysociety/sayit#egg=django-sayit
