{% extends 'speeches/_home.html' %}
{% load i18n %}

{% block title %}{{ request.instance.title }}{% endblock %}

{% block content %}
  {% if request.is_user_instance %}
    <div class="page-header">
        <a href="{% url "speeches:speech-add" %}" class="button small right">{% trans "Add a new speech" %}</a>
        <a href="{% url "speeches:section-add" %}" class="button secondary small right">{% trans "Add a section" %}</a>
        <a href="{% url 'share_instance' %}" class="button secondary small right">{% trans "Invite friends to help" %}</a>
    </div>
  {% endif %}

  {{ block.super }}
{% endblock %}
