{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block instanceheader %}{% endblock %}

{% block content %}

  <div class="form-page">
    <h1>{% trans "Share your SayIt" %}</h1>
    <div class="form-page__intro">
      <p>{% trans "Enter the e-mail address of someone you&rsquo;d like to be able to create and edit speeches and sections" %}</p>
    </div>

    <form id="instance-form" class="form-horizontal" method="post">
      {% csrf_token %}

      {{ form.as_p }}

      <div class="form-page__last">
        <button class="right button" type="submit" id="instance_submit">{% trans 'Send invite' %}</button>
      </div>
    </form>
  </div>

{% endblock %}
