{% extends 'speeches/home.html' %}
{% load i18n %}
{% load speech_utils %}

{% block title %}{{ request.instance.title }}{% endblock %}

{% block instance_search_title %}
Search Labour party speeches
{% endblock %}

{% block instance_blocks %}
        </div>
    </div>
</div>

<div class="featured-elements grey-section">
  <div class="full-page__row">
      <div class="featured-elements__unit">
        <a href="/search/?q=austerity" class="featured-block">
          <h3>Search for mentions of “austerity”</h3>
          <span class="featured-block__date">
            87 results
          </span>
        </a>
      </div>
      <div class="featured-elements__unit">
        <a href="/search/?q=Scottish+independence" class="featured-block">
          <h3>Search for mentions of “Scottish independence”</h3>
          <span class="featured-block__date">
            15 results
          </span>
        </a>
      </div>
      <div class="featured-elements__unit">
        <a href="/search/?q=nhs" class="featured-block">
          <h3>Search for mentions of “NHS”</h3>
          <span class="featured-block__date">
            450 results
          </span>
        </a>
      </div>
      <div class="featured-elements__unit">
        <a href="/search/?q=minimum+wage" class="featured-block">
          <h3>Search for mentions of “minimum wage”</h3>
          <span class="featured-block__date">
            66 results
          </span>
        </a>
{% endblock %}
